.directory
!/desktop/.directory
.mcagroup

# ASSIGNMENT 1
/assignment1/*
!/assignment1/.vex.cfg
!/assignment1/powerstone
!/assignment1/configurations

/assignment1/configurations/*

!/assignment1/configurations/example-2-issue
/assignment1/configurations/example-2-issue/*
!/assignment1/configurations/example-2-issue/configuration.mm

!/assignment1/configurations/example-2-issue-2-cluster
/assignment1/configurations/example-2-issue-2-cluster/*
!/assignment1/configurations/example-2-issue-2-cluster/configuration.mm

# ASSIGNMENT 2
/assignment2/*
!/assignment2/rvex.mm
!/assignment2/powerstone
!/assignment2/utils
!/assignment2/configurations
/assignment2/configurations/*
!/assignment2/configurations/example
/assignment2/configurations/example/*
!/assignment2/configurations/example/configuration.rvex

# TOOLS
# Everything included.

# POWERSTONE
/powerstone/*
!/powerstone/sys
!/powerstone/*.c
!/powerstone/*.h
