[Desktop Entry]
Comment[en_US]=
Comment=
Exec=konsole -e ~/scripts/update.sh
GenericName[en_US]=Updates the data files\s
GenericName=Updates the data files\s
Icon=exec
MimeType=
Name[en_US]=Pull toolchain updates
Name=Pull toolchain updates
Path=/home/user
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
